  /*font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;*/
  *{
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  ul{
    list-style: none;
  }
  .container{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    color: #fff;
}
  .sidebar{
    width: 195px;
    background: linear-gradient(180deg, #4e73df 10%, #224abe 90%);
    font-family: 'Nunito', sans-serif;
    padding: 0px 14px 0px 14px;
    transition: 0.3s ease-out; /*красота анимашки*/
  }
  .right{
    flex-grow: 1; /*Для управления шириной flex элементов*/
  }
  .header{
    height: 70px;
    background-color: white;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  }
  .content{
    background-color: #f8f9fc;
  }
  .logo{
    margin-top: 23px;
    padding-bottom: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #6588E4;
    width: 100%;
  }
  .nav__box{
    border-bottom: 1px solid #6588E4;
    width: 100%;
    padding: 20px 0px 20px 0px;
  }
  .nav__box-different{
    border: none;
  }
  .nav__title{
    font-size: 10px;
    font-weight: 800;
    opacity: .5;
    margin-bottom: 21px;
  }
  .nav__item{
    opacity: .8;
    font-size: 14px;
    margin-bottom: 39px;
  }
  .nav__item:hover{
    opacity: 1;
    cursor: pointer;
  }
  .nav__item-different{
    margin-bottom: 0px;
  }
  .size{
    width: 65px;
  }
  /*.arrow {
    width: 60px;
    height: 60px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 8px;
    width: 8px;
    transform: rotate(+45deg); 
    margin-right: 14px;
    opacity: .5;
  }    
  .arrow:hover{
    opacity: 1;
    cursor: pointer;
  }